/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

body {
    font-family: var(--font-inter);
    background-color: var(--color-background);
    opacity: 1;
    background: #F9FAFB;
}
:root {
    --font-inter: Poppins, sans-serif;
    --color-button-color: #FFFFFF; 
    --color-background: #F9FAFB;
    --color-review-card-bg: #F9FAFB;
}



@theme {
    --font-inter: Inter, sans-serif;
    --color-notes-color: #232323;
    --color-button-color: #FFFFFF;
    --color-button-color-hover: #F8AFA6;
    --color-background: #F9FAFB;
    --color-paragraph-color: #969696;
    --color-heading-color: #232323;
    --color-btn-bg-color: #367AFF;
}
